{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock  %}

{% block content %}

    <div class="w-1/2 my-6 p-6 mx-auto bg-blue-300 rounded-xl">
        <h1 class="mb-6 text-3xl">Sign Up</h1>

        <form action="." method="POST">
            {% csrf_token %}

            

            <div class="mb-3">
                <lable class="inline-block mb-2">Username</lable>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <lable class="inline-block mb-2">Email</lable>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <lable class="inline-block mb-2">Password</lable>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <lable class="inline-block mb-2">Confirm Password</lable>
                {{ form.password2 }}
            </div>
            
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors}}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
            <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700" >Login</a>
        </form>
    </div>

{% endblock  %}